body {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: main;
    src: url(main.ttf);
}

h1 {
	font-family: main;
	font-weight: normal;
}

h2 {
	font-family: main;
}

h3 {
	font-family: main;
}

h4 {
	font-family: main;
}

a {
	font-family: main;
}

button {
	font-family: main;
	border: none;
	background-color: #4E6CB3;
	border-radius: 25px;
	color: white;
	height: 28px;
}

.desknav {
	width: 97.37%;
	background-color: rgba(82,183,136,0.8);
	height: 51px;
	margin-top: -4px;
	display: block;
	text-align: center;
	position: fixed;
	top: 0;
}

.desknavitem {
	display: inline-block;
	font-size: 19.5px;
	float: left;
	padding: 14px 16px;
	color: white;
	
}

.desknavitem:hover {
	background-color: rgba(64,145,108,0.8);
	font-size: 19.5px;
}

.deskurl {
	color: white;
	text-decoration: none;
	font-size: 19.5px;
}

.activedesk {
	background-color: rgba(45,106,97,0.8);
	display: inline-block;
	font-size: 19.5px;
	float: left;
	padding: 14px 16px;
	color: white;
}

.mobbar {
	display: none;
}

.mobnav {
	display: none;
}

.mobnavitem {
	display: none;
}

.mobnavitem:hover {
	background-color: #40916C;
}

.activemob {
	display: none;
}

.grid-noie {
	width: auto;
	height: auto;
	text-align: center;
	
}

.grid-banner {
	width: 100%;
	height: 88px;
	background-color: #DDDDDD;
	padding-top: 6px;
	margin-top: 51px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.bannertext {
	text-align: center;
	font-weight: 800;
}

.grid-shell {
	width: 100%;
	height: 1080px;
	background-color: white;
	text-align: center;
	margin-top: 8px;
}

.grid-obj1 {
	width: 148px;
	height: 148px;
	text-align: center;
	color: black;
	margin-top: 8px;
	display: inline-grid;
}

.grid-obj2 {
	width: 148px;
	height: 368px;
	text-align: center;
	color: black;
	margin-top: 8px;
	display: inline-grid;
}

.grid-copyright {
	width: 100%;
	height: 148px;
	background-color: #52B788;
	text-align: center;
	color: white;
}

.coyprighttext {
	text-align: center;
	color: white;
}

@media (max-width: 600px) {
	.desknav {
		display: none;
	}
	
	.mobbar {
		display: block;
		width: 100%;
		height: 55px;
		margin-top: -4px;
		background-color: #52B788;
		position: fixed;
		top: 0;
	}
	
	.mobnavbutt:hover {
		background-color: #40916C;
	}
	
	.mobnavbutt2 {
		background-color: #2D6A4F;
		display:none;
	}
	
	.mobnav {
		display: none;
		width: 100%;
		height: auto;
		list-style: none;
		background-color: #52B788;
		margin-top: 0px;
		position: fixed;
	}
	
	.mobnavurl {
		color: white;
		font-size: 24pt;
	}
	
	.mobnavitem {
		padding: 14px 16px;
		margin-left: -40px;
		display: block;
	}
	
	.mobnavitem:hover {
		background-color: #40916C;
	}
	
	.activemob {
		background-color: #2D6A4F;
		padding: 14px 16px;
		margin-left: -40px;
		display: block;
	}
	.grid-obj1 {
		display: grid;
		height: 148px;
		margin-left: 40%;
	}
	
	.grid-obj2 {
		width: 148px;
		height: 368px;
		text-align: center;
		color: black;
		margin-top: 8px;
		display: grid;
	}
	.grid-shell {
		width: 100%;
		height: 2080px;
		background-color: white;
		text-align: center;
		margin-top: 8px;
	}
	.grid-banner {
		width: 100%;
		height: 88px;
		background-color: #DDDDDD;
		padding-top: 6px;
		margin-top: 51px;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
	}
}