@font-face {
	font-family: "main";
	src: url("main.ttf")
}
 
body {
	margin: 0; 
	padding: 0;
	width: auto;
	height: auto;
	background-color: #B2E9DE;
	text-align: center;
	font-family: main;
}

h1 {
	font-family: main;
	font-weight: normal;
	line-height: 1.4;
	margin-top: 40px
}

h2 {
	font-family: main;
	font-weight: normal;
	line-height: 1.4;
}

h3 {
	font-family: main;
	font-weight: normal;
	line-height: 1.4;
}

a {
	color: black; 
	line-height: 3;
}

button {
	background: #fdfdfd;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: 15px;
	  font-family: main;
	margin-left: 15spx;
}

button:hover {
	box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.7), -5px -5px 10px rgba(255, 255, 255, 0.4);
  filter: brightness(1.05);
}

.bg {
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.content {
	position: absolute;
	margin-top: 0px;
	transform: translateX(0%);
	width: 100%;
}


.menubar {
	width: 60%;
	height: 48px;
	text-align: center;
	margin-right: -5px;
}

.menuitem {
	width: 20.2%;
	height: 48px;
	display: inline-grid;
	cursor: pointer;
	margin-left: -5px;
	font-family: main;
	background: #fbfbfb;
	border: none;
	box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.menuitem:hover {
	box-shadow: 5px 2px 15px rgba(63, 77, 98, 0.7), -5px -5px 10px rgba(255, 255, 255, 0.4);
  filter: brightness(1.05);
}

.menutext {
	padding: 20px 40px;
	cursor: pointer;
	font-size: 20px;
	color: black;
}

.main {
	width: 60%;
	height: 666px;
	text-align: center;
	display: block;
	margin-top: -40px;
	background: #fdfdfd;
  border: none;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.cc {
	width: 60%;
	height: 222px;
	text-align: center;
	background-color: #fdfdfd;
	box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.0), -5px -5px 10px rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  flex-direction: column;
	display: grid;
}

.mobbar {
	display: none;
}

.mobnav {
	display: none;
}

.mobnavitem {
	display: none;
}

@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	
	h2 {
		max-width: 500px
	}
	
	h3 {
		max-width: 380px;
	}
	.menubar {
	 display:none;	
	}
	
	.main {
		width: 100%;
		text-align: center;
	}
	
	.cc {
		width: 100%;
	}
	
	.mobbar {
		display: block;
		width: 100%;
		height: 55px;
		background: #fbfbfb;
    border: none;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.5), -5px -5px 10px rgba(63, 76, 98, 0.4);
		text-align: left;
		position: relative;
	}
	
	.mobnavbutt2 {
		display:none;
	}
	
	.mobnav {
		display: none;
		width: 100%;
		height: auto;
		list-style: none;
		background: #fbfbfb;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(63, 77, 98, 0.0), -5px -5px 10px rgba(63, 76, 98, 0.4);
		position: absolute;
		margin-top: 0px;
	}
	
	.mobnavurl {
		color: black;
		font-size: 24pt;
	}
	
	.mobnavitem {
		padding: 14px 16px;
		margin-left: -40px;
		display: block;
	}
}