@font-face {
	font-family: "main";
	src: url("main.ttf")
}

body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: main;
	overflow: auto;
	background-color: #202225;
	overflow-x: hidden;
	overflow-y: auto;
}

.grid-main {
	width: auto;
	height: 77%;
	display: grid;
	overflow: hidden;
	margin-top: 88px;
	margin-left: 12%;
}

.bg {
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
	
.content {
	  position: absolute;
	  left: 50%; 
	  margin-top: 0px;
	  transform: translateX(-50%);
	  width: 100%;
}

.grid-channel {
	width: 288px;
	height: 288px;
	border-radius: 18px;
	display: inline-block;
	overflow: hidden;
	border: solid 4px rgba(68,68,68,0.2);
	margin-top: 10px;
}

.grid-channel:hover {
	border: solid 4px #00AAAA;
}

.logo {
	width: 288px;
	height: 288px;
}

.grid-topbar {
	width: 100%;
	height: 80px;
	text-align: center;
	position: absolute;
	top: 0;
	margin-left: -1px;
	background-color: rgba(0,0,0,0.8);
}

a {
	text-decoration: none;
}

.clock {
	font-family: main;
	font-size: 48px;
	color: white;
	display: inline-block;
}

@media (max-width: 600px) {

	body {
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
		font-family: main;
		overflow: auto;
	}

	.grid-main {
		width: auto;
		height: auto;
		display: grid;
		overflow: auto;
		margin-left: 0%;
		margin-top: 52px;
		float: center;
	}

	.grid-channel {
		text-align: center;
		width: 280px;
		height: 280px;
		border-radius: 25px;
		display: grid;
		overflow: hidden;
		margin-top: 10px;
		margin-left: 12%
	}
		
	.logo {
		width: 280px;
		height: 280px;
	}

	.grid-topbar {
		width: 100%;
		height: 80px;
		text-align: center;
		position: absolute;
		top: 0;
	}

	a {
		text-decoration: none;
	}

	.clock {
	   font-family: main;
	   font-size: 48px;
	   color: white;
	}
}