@font-face {

	font-family: "main";

	src: url("main.ttf")

}





body {

	font-family: main;

	background-image: url(bg.jpg);

	background-position: center;

	background-repeat: no-repeat;

	background-size: cover;

	height: 100vh;

	width: 100vw;

	margin: 0;

	padding: 0;

}



a {

	text-decoration: none;

	border: none;

}





.content {

	  position: absolute;

	  margin-top: 0px;

	  transform: translateX(0%);

	  width: 100%;

}



.bg {

	background-image: url(bg.jpg);

	background-position: center;

	background-repeat: no-repeat;

	background-size: cover;

	position: fixed;

	height: 100vh;

	width: 100vw;

}



.time {
	font-family: main;
	font-weight: 400;
	color: white;
	text-shadow: #000000 1px 0 10px;
}



.channel {

	width: 200px;

	height: 200px;

	display: inline-block;

	margin-left: 5px;

	margin-top: 5px;

}