@font-face {
	font-family: "main";
	src: url("main.ttf");
}
 
body {
    width: 100%;
    height: 100%;
    background-color: #2038a2;
    font-family: main;
    margin: 0;
    padding: 0;
    text-align: center;
}



a {
    text-decoration: none;
}

.guidebody {
    text-align: center;
    border-collapse: collapse;
    width: 85%;
    margin-top: 48px;
}

.chanbox {
    width: 280px;
    background-image: url(chanbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    display: inline-grid;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 6px rgba(255,255,255,0.2);
}

.chanbox:hover {
    border: solid 6px #00d929;
}

.clockbox {
    width: 100%;
    height: 48px;
}

.clock {
    font-size:36px;
    color: white;
}

.bg {
	background-image: url(bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
	
.content {
	position: absolute; 
	margin-top: 0px;
	transform: translateX(0%);
	width: 100%;
}