@font-face {
	font-family: "Frutiger";
	src: url("frutiger.ttf");
}

body {
    background-color: rgb(40,50,98);
    font-family: Frutiger;
    background-image: url(none);
    background-repeat: no-repeat;
    overflow: cover;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

th, td {
    border: 3px solid #979aa1;
}
table {
    background-color: none; 
    color: white; 
    width: 98%;
    border-collapse:  collapse;
}
.mainui {
    background-image: url(mainbg.png); 
    background-size: cover;
    background-color: none;
    width: 80%; 
    max-height: 550px;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.chbox {
    width: 3%; 
    height: 48px;
    font-family: Frutiger;
    background-color: #8cb1de;
    background-image: url(none);
    background-size: cover;
    text-align: center;
    font-size: 24px;
    color: black;
}
.logobox {
    width: 95%;
    background-color: #232b67;
    background-image: url(none);
    background-size: cover;
}

.logobox:hover {
    background-image: url(none);
    background-color: #28c537;
}

.bg {
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
	
.content {
	position: absolute; 
	margin-top: 0px;
	transform: translateX(0%);
	width: 100%;
}

.tvbody {
    background-color: rgb(0,0,0);
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 600px) {
    .mainui {
        margin-left: 0%;
        width: 100%;
    }
    
    table {
        width: 98%;
    }
}