@font-face {
	font-family: "Main";
	src: url("main.ttf");
}

body {
    background-color: #23006c;
    font-family: Main;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(none);
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}
th, td {
    border: 3px solid white;
}
table {
    background-color: none; 
    color: white; 
    width: 90%;
    border-collapse: collapse;
}
.mainui {
    background-image: url(main.png); 
    background-size: cover;
    background-color: none;
    width: 80%; 
    height: auto;
}
.chbox {
    width: 3%; 
    height: 48px;
    font-family: Main;
    background-color: #23006c;
    background-image: url(none);
    background-size: cover;
    text-align: center;
    font-size: 24px;
}
.logobox {
    width: 95%;
    background-color: #008cf0;
    background-image: url(none);
    background-size: cover;
}

.logobox:hover {
    background-image: url(none);
    background-color: #45ba48;
}

.bg {
	background-image: url(bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: auto;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
	
.content {
	position: absolute; 
	margin-top: 0px;
	transform: translateX(0%);
	width: 100%;
}

.tvbody {
    background-color: rgb(0,0,0);
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 600px) {
    .mainui {
        margin-left: 0%;
        width: 100%;
    }
    
    table {
        width: 80%;
    }
}