@font-face {
    font-family: Wii;
    src: url(Wii.ttf);
}
body {  
    background-color: #71d9fc;
    margin: 0px;
    padding: 0px;
    }
th, td {
    padding: 0px;
    margin: 0px;
    font-family: Wii;
    padding: 0;
}
table {
    color: #777777; 
    width: 100%;
    height: auto;
    padding: 0px;
    font-family: Wii;
    padding: 0;
}

.mainui {
    background-color: #0092f9; 
    width: 100%; 
    height: 740px;
    overflow: hidden;
    margin-top: 10px;
}

.num {
    width: 10%; 
    height: 32px;
    background-image: url(numbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px #4b9544;
    color: white;
    font-weight: 800;
    padding: 0;
    text-align: center;
}

.chan {
    width: 90%; 
    background-image: url(chanbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px #cdcedc;
    padding: 0;
}

.clockbg {
    background-image: url(clockbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 3px #0092f9;
    border-radius: 10px;
    margin-left: 10px;
}

.clock {
    font-size: 32px;
    font-family: Wii;
    color: white;
}