body {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: main;
    src: url(main.ttf);
}

h1 {
	font-family: main;
	font-weight: normal;
}

h2 {
	font-family: main;
	font-weight: normal;
}

h3 {
	font-family: main;
	font-weight: normal;
}

h4 {
	font-family: main;
	font-weight: normal;
}

a {
	font-family: main;
	font-weight: normal;
}

.grid-noie {
	width: auto;
	height: auto;
	text-align: center;
	
}

.grid-banner {
	width: 100%;
	height: 208px;
	background-color: #2C8942;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	display: grid;
}

.grid-codebox {
	width: 100%;
	height: 208px;
	background-color: #52B788;
	display: grid;
}

.grid-webbox {
	width: 100%;
	height: 208px;
	background-color: #506CB3;
	display: grid;
}

.grid-musicbox {
	width: 100%;
	height: 208px;
	background-color: #BE2025;
	display: grid;
}

.grid-tabp1 {
	width: 40%;
	height: 48px;
	background-color: white;
	border: solid 2px white;
	display: grid;
	margin-left: 30%;
	text-align: center;
	margin-top: 8px;
	
}

.grid-tabp2 {
	width: 40%;
	height: 64px;
	border: solid 2px white;
	margin-left: 30%;
	text-align: center
	display: none;
}

.bannertext {
	text-align: center;
}

.grid-about {
	width: 100%;
	height: 288px;
	background-color: #D07181;
	text-align: center;
	color: black;
	display: grid;
}


.grid-contact {
	width: 100%;
	height: 288px;
	background-color: #2C8942;
	text-align: center;
	color: white;
	display: grid;
}

.coyprighttext {
	text-align: center;
	color: black;
}

@media (max-width: 600px) {
	.grid-tabp1 {
		width: 80%;
		margin-left: 10%;
	}
	
	.grid-tabp2 {
		width: 80%;
		margin-left: 10%;
	}
}