@font-face {
    font-family: frutiger;
    src: url(frutiger.ttf);
    }
body {
    background-color: #0f703a;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
th, td {
    border: 3px solid #929196;
    font-family: frutiger, sans-serif;
    padding: 0;
}
table {
    background-color: #326b91; 
    color: white; 
    width: 98%;
    padding: 0;
}

.mainui {
    background-image: url(main.jpg); 
    width: 95%; 
    height: 720px;
}

.numbox {
    width: 5%; 
    height: 32px;
    text-align: center;
    padding: 0;
}

.chanbox {
    width: 95%; 
    height: 32px;
    padding: 0;
}

@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .mainui {
        width: 100%
    }
}